/*============================================
  Header
=============================================*/
header { position: relative; }
.logo { height: 80px; 
  object, img, svg { height: 100%; width: auto; }
}
.tagline { line-height: 20px; text-align: center; }
.knockout {fill:none;}

/*============================================
  Headlines
=============================================*/
.headline { color: $white; margin: $spacing; }

/*============================================
  Page Sections
=============================================*/
.lead, .defualt, .primary, .secondary { position: relative; }

/*============================================
  Images
=============================================*/
img { width: 100%; }

/*============================================
  Videos
=============================================*/
.video{
  position:relative;
  object, iframe, div, embed{height:100%; position:absolute; left:0; top:0; width:100%; z-index:1;}
  img{position:relative; z-index:-1; height:100%; width:100%;}
}

/*============================================
  Buttons
=============================================*/
button, input[type=submit] { 
	border: none; 
	cursor: pointer;
	font-family: inherit;
	outline: none;
	@include vendor-prefix (transition, 0.3s);
}


@mixin flat($secondaryColor){
    background: $secondaryColor;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px $secondaryColor * 1.5;
    padding: .5em 1em;
    position: relative;
    @include vendor-prefix( transition, 0.3s );
    &:hover {
        border: none;
        outline: none;
        box-shadow: 0 4px $secondaryColor * 2;
    }
    &:active {
        border: none;
        outline: none;
        top: 1px;
        box-shadow: 0 2px $secondaryColor * 2, inset 0 1px 2px $black;
        @include vendor-prefix( transition, 0.1s );
    }
}
.flat{@include flat($secondaryColor)}

@mixin gel($secondaryColor) {
	@include gradient(lighten($secondaryColor, 6%), darken($secondaryColor, 6%));
    border-top: 1px solid lighten($secondaryColor, 8%);
    border-left: 1px solid lighten($secondaryColor, 8%);
    border-right: 1px solid darken($secondaryColor, 8%);
    border-bottom: 1px solid darken($secondaryColor, 8%);
    border-radius: 2px;
    box-shadow: 0 1px 2px $lightGrey;
    padding: .5em 1em;
	font-weight:bold;
    @if lightness($fontColor) > lightness($secondaryColor) {
		color: $white;
	} @else {
		color: $fontColor;
	}
    &:hover {
		box-shadow:none;
    }
    &:active {

    }
}
.gel{@include gel($secondaryColor)}

@mixin simple($secondaryColor) {
    background: $secondaryColor;
    border: 1px solid $secondaryColor;
    border-radius: 2px;
    box-shadow: 0 1px 2px $lightGrey;
    padding: .5em 1em;
	font-weight:bold;
    @if lightness($fontColor) > lightness($secondaryColor) {
		color: $white;
	} @else {
		color: $fontColor;
	}
    &:hover {
		box-shadow:none;
    }
    &:active {

    }
}
.simple{@include simple($secondaryColor)}

@mixin glass($secondaryColor) {
    background: $secondaryColor;
    border: 1px solid darken($secondaryColor, 10%);
    box-shadow:
        inset 0 .1em lighten($secondaryColor, 48%),
        inset 0 1em lighten($secondaryColor, 16%),
        inset 0 1em 1.5em lighten($secondaryColor, 16%),
        inset 0 -1.25em 2em darken($secondaryColor, 6%);
    padding: .25em 1em;
	text-transform:uppercase;
	font-size:1.25em;
	font-weight:bold;
	text-shadow:-1px -1px 0 darken($secondaryColor, 6%), 
        1px -1px 0 darken($secondaryColor, 6%), 
        -1px 1px 0 darken($secondaryColor, 6%), 
        1px 1px 0 darken($secondaryColor, 6%);
    @if lightness($fontColor) < lightness($secondaryColor) {
		color: $white;
	} @else {
		color: $fontColor;
	}
	letter-spacing:.1em;
    &:hover {
		box-shadow:none;
    }
    &:active {

    }
}
.glass{@include glass($secondaryColor)}

/*============================================
  Slider
=============================================*/
.swipe {
  overflow: hidden;
  position: relative;
  visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
  backface-visiblility: hidden;
  -webkit-backface-visibility: hidden;
  &> div {
    float: left;
    position: relative;
    width: 100%;
  }
}

/*============================================
  Target Fix
=============================================*/
.target-fix {
  top: 0;
  left: 0;
  position: fixed;
  text-indent: -99999px;
}

/*============================================
  Accordion
=============================================*/
@include basic-accordion;


/*============================================
  Grid
=============================================*/
.span1 { @include column(12) }
.span2 { @include column(12) }
.span3 { @include column(12) }
.span4 { @include column(12) }
.span5 { @include column(12) }
.span6 { @include column(12) }
.span7 { @include column(12) }
.span8 { @include column(12) }
.span9 { @include column(12) }
.span10 { @include column(12) }
.span11 { @include column(12) }
.span12 { @include column(12) }
.span12, .container { max-width: 300px; }

.spread {
  .span1 { @include pushpullwidth(12); }
  .span2 { @include pushpullwidth(12); }
  .span3 { @include pushpullwidth(12); }
  .span4 { @include pushpullwidth(12); }
  .span5 { @include pushpullwidth(12); }
  .span6 { @include pushpullwidth(12); }
  .span7 { @include pushpullwidth(12); }
  .span8 { @include pushpullwidth(12); }
  .span9 { @include pushpullwidth(12); }
  .span10 { @include pushpullwidth(12); }
  .span11 { @include pushpullwidth(12); }
  .span12  { @include pushpullwidth(12); }
  *[class*="span"] {
    &:nth-of-type(1) { @include pull(); } 
    &:last-child { @include push(); }
  }
}

.container, .row { 
  clear: both;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: relative; 
  &:after {
    content: "";
    clear: both;
  }
}

/*============================================
  Footer
=============================================*/
footer, .footer { margin: $spacing; margin-bottom: 3em; text-align: center;
  .copyright {
    font-size: .875em;
    margin: $spacing;
  }
}