/*============================================
  Fonts and Icons
=============================================*/
$primaryFont: sans-serif;
$displayFont: serif;
$lpIcons: 'lp-icons';
$lpCircleIcons: 'lp-circle-icons';
$icons: 'icons';

@mixin font-size ($sizeValue) {
  font-size: $sizeValue + px;
  font-size: ($sizeValue / 10) + rem;
}

/*============================================
  Colors
=============================================*/
  /*== Generic Colors ==*/
  $primaryColor: #001D5F;
  $secondaryColor: #FFDD00;
  $tertiaryColor: #E86D1F;
  $quaternaryColor: #00ffff;
  $quinaryColor: #fa5010;
  $black: #000;
  $white: #fff;
  $lightGrey: lighten($black, 75%);
  $darkGrey: lighten($black, 25%);
  $inputError: #ffe4e4;
  $blue: #001D5F;
  $yellow: #FFDD00;
  $orange: #E86D1F;
  $red: #B11116;
  $green: #7AB800;
  $lightbeige: #D9CFC0;
  $mediumbeige: #B9AB96;
  $darkbeige: #948772;
  $black7c: #2E2D27;

  $fontColor: #333;
  

/*============================================
  Margins
=============================================*/
  $spacing: 1em 0;

/*============================================
  Vendor Prefixes
=============================================*/
@mixin vendor-prefix ($name, $argument) {
  #{$name}: $argument;
  -webkit-#{$name}: $argument;
  -ms-#{$name}: $argument;
  -moz-#{$name}: $argument;
  -o-#{$name}: $argument;
}

/*============================================
  Grid
=============================================*/
$column-width: 6.25%;
$gutter-width: 2.083%;
$columns: 12;
$total-width: ($column-width * $columns) + ($gutter-width * $columns);

@mixin column ($x, $columns:$columns) {
  $_gridsystem-width: ($column-width * $columns) + ($gutter-width * $columns);
  display: inline;
  float: left;
  overflow: hidden;
  width: $total-width * (((($gutter-width + $column-width) * $x) - $gutter-width) / $_gridsystem-width);
  margin: 0 $total-width * (($gutter-width * .5) / $_gridsystem-width);
}

@mixin pull ($columns:$columns) {
  margin: 0 $total-width * (($gutter-width * .5) / $total-width) 0 0;
}

@mixin push ($columns:$columns) {
  margin: 0 0 0 $total-width * (($gutter-width * .5) / $total-width);
}

@mixin pushpullwidth ($x, $columns:$columns) {
  width: ($total-width - $gutter-width) * ((($gutter-width + $column-width) * $x) / $total-width);
}