@import 'normalize';
@import 'mixins';
@import 'brandcolors';
@import 'fonts';
@import 'typography';
@import 'form';
@import 'base';
@media (min-width: 27.36em) {	
	.span12, .container { max-width: 90%; }
}
@media (min-width: 32.2183em) {
	.span12, .container { max-width: 27.36em; }
}
@media (min-width: 37.933em) { 
	.span12, .container { max-width: 32.2183em; }
}
@media (min-width: 44.6484em) { 
	.span12, .container { max-width: 37.933em; }
}
@media (min-width: 52.5066em) { 
	.tagline { line-height: 80px; }

	.span1 { @include column(1) }
	.span2 { @include column(6) }
	.span3 { @include column(6) }
	.span4 { @include column(6) }
	.span5 { @include column(6) }
	.span6 { @include column(6) }
	.span7 { @include column(6) }
	.span8 { @include column(6) }
	.span9 { @include column(6) }
	.span10 { @include column(6) }
	.span11 { @include column(11) }
	.span12 { @include column(12) }
	.span12, .container { max-width: 44.6484em; }
	
	.spread {
	    .span1 { @include pushpullwidth(1); }
	    .span2 { @include pushpullwidth(6); }
	    .span3 { @include pushpullwidth(6); }
	    .span4 { @include pushpullwidth(6); }
	    .span5 { @include pushpullwidth(6); }
	    .span6 { @include pushpullwidth(6); }
	    .span7 { @include pushpullwidth(6); }
	    .span8 { @include pushpullwidth(6); }
	    .span9 { @include pushpullwidth(6); }
	    .span10 { @include pushpullwidth(6); }
	    .span11 { @include pushpullwidth(11); }
	    .span12 { @include pushpullwidth(12); }
	}

	footer, .footer { text-align: left; }
}
@media (min-width: 61.722em) { 

	h1, .title1 { @include font-size (28); }
	h2, .title2 { @include font-size (20); }
	h3, .title3 { @include font-size (20); }
	h4, .title4 { @include font-size (18); }
	h5, .title5 { @include font-size (14); }
	h6, .title6 { @include font-size (14); }

	.span2 { @include column(3) }
	.span3 { @include column(3) }
	.span4 { @include column(5) }
	.span5 { @include column(5) }
	.span7 { @include column(7) }
	.span8 { @include column(7) }
	.span9 { @include column(9) }
	.span10 { @include column(9) }
	.span12, .container { max-width: 52.5066em; }

	.spread {
	    .span2 { @include pushpullwidth(3); }
	    .span3 { @include pushpullwidth(3); }
	    .span4 { @include pushpullwidth(5); }
	    .span5 { @include column(5) }
		.span7 { @include column(7) }
	    .span8 {  @include pushpullwidth(7); }
	    .span9 {  @include pushpullwidth(9); }
	    .span10  {  @include pushpullwidth(9); }
	}
}
@media (min-width: 67.8942em) { 

	h1, .title1 { @include font-size (37); }
	h2, .title2 { @include font-size (23); }
	h3, .title3 { @include font-size (22); }
	h4, .title4 { @include font-size (18); }
	h5, .title5 { @include font-size (16); }
	h6, .title6 { @include font-size (14); }

	.tagline { text-align: right; }

	.span2 { @include column(2) }
	.span3 { @include column(3) }
	.span4 { @include column(4) }
	.span8 { @include column(8) }
	.span9 { @include column(9) }
	.span10 { @include column(10) }
	.span12, .container { max-width: 61.722em; }

	.spread {
	  @for $i from 1 through 12 {
	    .span#{$i} {
	      &:nth-of-type(1n) { @include pushpullwidth($i); }
	    }
	  }
	}
}

@media (min-width: 75.428em) {
	.span12, .container { max-width: 68.5714em; }
}

@media (min-width: 82.9708em) { 
	.span12, .container { max-width: 75.428em; }
}

@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 2dppx), (min-resolution: 120dpi) { @import '2x'; }