header {
	section {
		width: 685px;
	}
}

.school-image {
	height: 500px;
	blockquote { 
		bottom: 100px;
		width: 340px;
	}
}

.quote {
	width: 350px;
}

.container {
	margin: 0 auto 40px;
	position: relative;
	width: 685px;
}

.text-section {
	margin: 0;
	width: 350px;
}

.form {
	position: absolute;
	top: -300px;
	right: 0;
}

aside {
	margin-top: 50px;
}