.lead {
    background: url(../images/pangolin.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    box-shadow: 0 0 4px $darkGrey;
    min-height: 320px;
}

.default {
    margin: $spacing;
}

.form {
    color: $white;
    padding: 10px;
    position: relative;
}

.background {
    background: $primaryColor;
}

.headline {
    background: rgba($darkGrey, 0.35);
    padding: 1em;
}

ul {
    padding: 0 0 0 10px;
}

@media (min-width: 48em) {
    .lead {
        min-height: 420px;
    }
}

@media (min-width: 66em) {
    .lead {
        background-position: 50%;
        min-height: 500px;
    }
}