$ustPurple: #472986;

$lightGrey: #a6a6a6;
$darkGrey: #5a5b5d;
$black: #000;
$white: #fff;

html {
	font-size: 62.5%;
}

body {
	font-size: 1em;
}

h1 {
	font-size: 2.333rem;
}

h2 {
	font-size: 2rem;
	font-weight: 300;
}

h3 {
	font-size: 1.583rem;
}

h4 {
	font-size: 1.417rem;
}

h5 {
	font-size: 1.083rem;
	margin-bottom: 0;
}

p {
	font-size: 1em;
}