header {
    background: $lightGrey;
}

.default {
    margin: 2em 0;
}

.form {
    position: relative;
    padding: 10px;
}

.background {
    background: $primaryColor;
}

ul {
    margin-bottom: 2em;
    padding: 0 0 0 20px;
}

@media (min-width: 20em) {

}

@media (min-width: 30em) {

}

@media (min-width: 60em) {
    .logo {
        @include border (2px 0 $white);
     }
     .default {
        margin: 2em 0;
        .container {
            overflow: visible;
            .primary {
                overflow: visible;
                position: relative;
                &:after {
                    background: url(../images/arrow-down.png) $primaryColor 50% no-repeat;
                    content: "";
                    height: 4em;
                    position: absolute;
                    right: -2em;
                    top: -4em;
                    width: 4em;
                    z-index: 999;
                }
            }
        }
    }
}